Source: subgraph-grub-config
Section: config
Priority: extra
Maintainer: David McKinney <mckinney@subgraph.com>
Build-Depends: debhelper (>=9), config-package-dev
Standards-Version: 3.9.6
Homepage: https://subgraph.com/sgos/index.en.html

Package: subgraph-grub-config
Architecture: any
Depends: ${misc:Depends}
Provides: ${diverted-files}
Conflicts: ${diverted-files}
Description: Grub config for Subgraph OS.
 Grub settings and splash images for Subgraph OS.
